@{
    Layout = null;
}
<div>
    <h2 class="ui dividing header">说明</h2>
    <div class="no example">
        <h4>说明</h4><i class="icon code"></i></a>
        <blockquote>
            <p>说明</p>
        </blockquote>
        <p>说明</p>

    </div>
</div>