<style type="text/css">
    .month-content-clock {
        position: fixed;
        right: 100px;
        top: 100px;
        width: 300px;
        height: 500px;
        border-radius: 5px;
        background-color: #fff;
        border: 1px solid #ccc;
        float: right;
    }

    .kong {
        width: 100px;
        height: 42px;
    }

    .clock-title {
        margin-top: 10px;
        text-align: center;
        font-size: 16px;
        padding-bottom: 5px;
        border-bottom: 1px solid #ccc;
    }

    .clock-content {
        margin-left: 10px;
        margin-right: 10px;
    }

    .clock-row {
        margin-top: 5px;
    }

    .clock-mark {
        word-wrap: break-word;
    }

    .clock-top {
        width: 300px;
        height: 400px;
    }

    .clock-bottom {
        width: 300px;
        height: 500px;
    }

    .clockBtn:hover {
        border: 2px solid #de8b08;
    }

    .select-day:hover {
        background-color: #ccc;
        cursor: pointer;
    }

    .day-delete {
        background-color: #000;
        color: #fff;
        border-radius: 20%;
        cursor: pointer;
        width: 16px;
        line-height: 16px;
        margin-top: 2px;
    }

        .day-delete .icon {
            font-size: 13px;
        }

        .day-delete:hover {
            -moz-transform: scale(1.5);
            -webkit-transform: scale(1.5);
            -o-transform: scale(1.5);
            -ms-transform: scale(1.5);
            transform: scale(1.5);
        }

    .day-ismark { /*有备注*/
        background-color: #0d9b25;
    }

    .day-late { /*迟到*/
        background-color: #ff6811;
    }

    .day-early { /*早退*/
        background-color: #ffe518;
    }

    .day-noclock { /*未打卡*/
        background-color: red;
    }

    .day-ismark, .day-late, .day-early, .day-noclock {
        width: 20px;
        height: 100%;
        border-radius: 50%;
        color: #fff;
        font-size: 10px;
        font-weight: 700;
        padding-left: 4px;
        padding-right: 4px;
    }

    .group1 {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }

    .daycount {
        font-size: 22px;
        font-weight: 700;
        border-bottom: 1px dashed red;
    }
</style>

@Html.AntiForgeryToken()
<div id="vue1" v-cloak>
    @{ if (ViewBag.Show)
        {
            <div class="ui segment">
                <a class="ui ribbon label">上传考勤文件</a><br />
                <div class="height15"></div>
                <div class="left22">
                    <div>文件命名：小写月份数字加汉字"月考勤"组成的xls文件，例如:7月考勤.xls</div>
                    <input id="xlsSelect" type="file" accept="application/vnd.ms-excel" name="file" />
                    <div class="ui vertical animated button small" tabindex="0" v-on:click="getData">
                        <div class="hidden content">上传</div>
                        <div class="visible content">
                            <i class="cloud upload icon"></i>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <div class="ui segment">
        <a class="ui ribbon label">展示说明</a>
        <div class="height15"></div>
        <div class="content-color">
            <div class="width13 left">外框：</div>
            <div class="width13 color-0 left">未到</div>
            <div class="width13 color-1 left">正常</div>
            <div class="width13 color-2 left">节/假日</div>
            <div class="clear" style="height:5px;"></div>
            <div class="width13 left">内框：</div>
            <div class="width13 child--3 left">迟到/早退</div>
            <div class="width13 child--1 left">早回家</div>
            <div class="width13 child-1 left">正常</div>
            <div class="width13 child-2 left">加班</div>
            <div class="clear" style="height:5px;"></div>
        </div>
    </div>
    <div class="ui segment">
        <a class="ui ribbon label">查询</a>
        <div class="left22">
            <div class="six column ui grid stackable group1" v-if="dk">
                <div class="column">迟到：<label v-bind:class="{'daycount':dk.chidao>0}">{{dk.chidao}}</label>/{{dk.oneMonthCount}}</div>
                <div class="column">早退：<label v-bind:class="{'daycount':dk.zaotui>0}">{{ dk.zaotui}}</label>/{{dk.oneMonthCount}}</div>
                <div class="column">早回家：<label v-bind:class="{'daycount':dk.zaoxiaban>0}">{{ dk.zaoxiaban}}</label>/{{dk.oneMonthCount}}</div>
                <div class="column">未打卡：<label v-bind:class="{'daycount':dk.weidaka>0}">{{dk.weidaka}}</label>/{{dk.oneMonthCount}}</div>
                <div class="column">整天未到：<label v-bind:class="{'daycount':dk.zhengtianweidaka>0}">{{dk.zhengtianweidaka}}</label>/{{dk.oneMonthCount}}</div>
                <div class="column">加班：<label v-bind:class="{'daycount':dk.jiaban>0}">{{dk.jiaban}}</label>/{{dk.oneMonthCount}}</div>
            </div>
            <div class="ui stackable">
                <div class="ui selection dropdown medium small">
                    <input type="hidden" name="gender" id="selectMonth" />
                    <i class="dropdown icon"></i>
                    <div class="default text">考勤月份</div>
                    <div class="menu">
                        <div class="item" data-value="1">1月</div>
                        <div class="item" data-value="2">2月</div>
                        <div class="item" data-value="3">3月</div>
                        <div class="item" data-value="4">4月</div>
                        <div class="item" data-value="5">5月</div>
                        <div class="item" data-value="6">6月</div>
                        <div class="item" data-value="7">7月</div>
                        <div class="item" data-value="8">8月</div>
                        <div class="item" data-value="9">9月</div>
                        <div class="item" data-value="10">10月</div>
                        <div class="item" data-value="11">11月</div>
                        <div class="item" data-value="12">12月</div>
                    </div>
                </div>
                <div class="ui icon input">
                    <input type="text" v-model="userName" placeholder="请输入查询的用户名" maxlength="6">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="month-content">
                <div class="left length-top">周一</div>
                <div class="left length-top">周二</div>
                <div class="left length-top">周三</div>
                <div class="left length-top">周四</div>
                <div class="left length-top">周五</div>
                <div class="left length-top">周六</div>
                <div class="left length-top">周日</div>
                <div class="body-Day">
                    <div v-for="i in userMounthNullCount" class="left length">无</div>
                    <div v-for="child in userMounths" class="left length titlec" v-bind:class="'color-'+child.status" v-bind:title="getMarkTitle(child,0)">
                        <div class="" v-bind:class="{'select-day':child.status!=1&&child.status!=2}" v-on:click="selectMark(child,0)">
                            <strong v-if="child.status!=2">{{child.day}}</strong>
                            <div v-if="child.status==2&&child.dayOfWeek==7" style="color:#ccc;">{{child.day}} 休</div>
                            <div v-if="child.status==2&&child.dayOfWeek!=7" style="color:#ccc;">{{child.day}} 假</div>
                            <div v-if="isMarkData(child,-1)" class="pull-right day-ismark">注</div>
                        </div>
                        <div class="padding-center child-0 titlec"
                             v-if="!child.UserLeft&&child.status!=2&&child.status!=0"
                             v-on:click="selectMark(child,1)" v-bind:title="getMarkTitle(child,1)">
                            早:未打卡
                            <div v-if="isMarkData(child,1)" class="pull-right day-delete" v-on:click.stop="deleteMarkData(child,1)"><i class="icon ban"></i></div>
                        </div>
                        <div v-if="child.UserLeft" class="padding-center">
                            <div class="titlec" v-if="child.UserLeft.putCaredTime"
                                 v-bind:class="'child-'+child.UserLeft.status"
                                 v-on:click.stop="selectMark(child,1)"
                                 v-bind:title="getMarkTitle(child,1)">
                                早:{{momentTime(child.UserLeft.putCaredTime)}}
                                <div class="pull-right day-delete"
                                     v-if="isMarkData(child,1)"
                                     v-on:click.stop="deleteMarkData(child,1)"><i class="icon ban"></i></div>
                            </div>
                        </div>
                        <div class="padding-center child-0 titlec"
                             v-if="!child.UserRight&&child.status!=2&&child.status!=0"
                             v-on:click="selectMark(child,2)"
                             v-bind:title="getMarkTitle(child,2)">
                            晚:未打卡
                            <div v-if="isMarkData(child,2)"
                                 class="pull-right day-delete"
                                 v-on:click.stop="deleteMarkData(child,2)"><i class="icon ban"></i></div>
                        </div>
                        <div v-if="child.UserRight" class="padding-center">
                            <div class="titlec" v-if="child.UserRight.putCaredTime"
                                 v-bind:class="'child-'+child.UserRight.status"
                                 v-on:click.stop="selectMark(child,2)"
                                 v-bind:title="getMarkTitle(child,2)">
                                晚:{{momentTime(child.UserRight.putCaredTime)}}
                                <div class="pull-right day-delete"
                                     v-if="isMarkData(child,2)"
                                     v-on:click.stop="deleteMarkData(child,2)"><i class="icon ban"></i></div>
                                @*<div class="pull-right" v-if="isMarkData(child,2)" v-bind:class="dayMark(child.UserRight.status)">记</div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <!--ui model-->
    <div class="ui small modal" id="editMark">
        <div class="header" id="editMark-header">
            备注说明
        </div>
        <div class="content ui form">
            <div class="field">日期：<strong>{{addMarkData.ClockTime}}</strong></div>
            <div class="field">
                <strong>时间范围：</strong>
                <strong v-if="addMarkData.TimeSlot==0">整天</strong>
                <strong v-if="addMarkData.TimeSlot==1">上午</strong>
                <strong v-if="addMarkData.TimeSlot==2">下午</strong>
            </div>
            <div class="field">
                <div class="ui selection dropdown medium Small" id="selectMarkState">
                    <input type="hidden" name="gender" />
                    <i class="dropdown icon"></i>
                    <div class="default text">记录类别</div>
                    <div class="menu" id="markStatusMenu">
                    </div>
                </div>
            </div>
            <div class="field">
                <label>备注说明</label>
                <textarea rows="2" maxlength="200" placeholder="长度不大于200个字符" id="markReason" v-model="addMarkData.ClockContent"></textarea>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button" id="btnCancle">取消 </div>
            <div class="ui positive right labeled icon button">确定 <i class="checkmark icon"></i> </div>
        </div>
    </div>
</div>


