<div class="ui mini modal" blurring="true">
    <i class="close icon"></i>
    <div class="header">
        登录
    </div>
    <div class="ui content">
        <div class="ui one column stackable grid container">
            <div class="column">
                <div class="ui input">
                    <input type="text" placeholder="请输入姓名">
                </div>
            </div>
            <div class="column">
                <div class="ui input">
                    <input type="password" placeholder="请输入密码">
                </div>
            </div>
            <div class="column">
                <div class="ui segment">Content</div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui button">取消</div>
        <div class="ui button">登录</div>
    </div>
</div>